html {
	font-size: 1em;
	font-family: Raleway, Geneva, sans-serif
}

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-size: 1.5rem;
}

p, h1, h2, h3 {
	color: black;
	margin: 0;
}

p, h3 {
	margin: 1rem 0;
}



/* Navigation */
#navbar  {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: firebrick;
	width: 50%;
	height: 4rem;
	user-select: none;
	padding: 0 25%;
}

#title {
	color: beige;
}

a {
	text-decoration: none;
}

#navbar > a {
	height: 100%;
}

.navbutton {
	color: white;
	padding: 1rem 0.5rem;
	height: calc(100% - 2rem);
	cursor: pointer;
	transition: transform 0.2s, border-bottom 0.2s;
	border-bottom: beige 0px solid;
	display: flex;
	align-items: center;
}

.navbutton:hover {
	border-bottom: beige 6px solid;
	transform: translateY(-5px);
}

.navbutton:active {
	opacity: 0.8;
}

/* Body */
#wrapper {
	background-color: whitesmoke;
}

#wrapper-inner {
	margin: 4rem 20% 0 20%;
	padding: 0 5%;
	background-color: linen;
}

#home > * {
	margin: 1rem;
}

.section {
	padding: 2rem 0 0 0;
	display: flex;
	min-height: calc(100vh - 12rem);
	overflow: hidden;
}

.section-y {
	flex-direction: column;
}

.section-x {
	flex-direction: row;
}

.project-desc {
	overflow: auto;
}

.project-desc > .row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.project-desc > .row.space-between {
	justify-content: space-between;
}

a > i {
	padding: 0.5rem;
	color: black;
	font-size: 3rem;
}

a > i:hover {
	color: white;
	background-color: grey;
}

#profile {
	float: right;
	padding-left: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#profile > img {
	border-radius: 1rem;
	box-shadow: 2px 3px lightgrey;
}

#info {
	margin: 0.5rem 0;
	display: flex;
	justify-content: center;
}

#icon-desc {
	margin: 0;
	width: 100%;
	height: 2rem;
	text-align: center;
}

#project-menu {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	transition: transform 0.6s;
}

#project-menu.showdesc {
	transform: translateX(-100%);
}

#project-icons, #project-descs {
	flex: 0 0 100%;
}

.back {
	padding: 0.2rem 0.8rem;
	margin-right: 0.5rem;
	text-align: center;
	background-color: coral;
	border-radius: 0.7rem;
	user-select: none;
	cursor: pointer;
}

.back:hover {
	background-color: red;
}

.back:active {
	background-color: firebrick;
}

.project-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.imgbox.ph {
	background-color: transparent;
	border: none;
	box-shadow: none;
	float: left;
	cursor: default;
}

.imgbox.ph:hover {
	transform: none;
	box-shadow: none;
}

.imgbox {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: white;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
	flex: 0 0 10rem;
	width: 10rem;
	height: 10rem;
	flex: 0 0 10rem;
	border: 1px black solid;
	margin: 1rem 1rem;
	overflow: hidden;
	user-select: none;
	
	cursor: pointer;
	transition: transform 0.2s, box-shadow 0.2s;
}

.imgbox img {
	display: block;
}

img.w {
	width: 100%;
	height: auto;
}

img.h {
	height: 100%;
	width: auto;
}

.imgbox:hover {
	transform: translate(-2px, -2px);
	box-shadow: 4px 4px rgba(0, 0, 0, 0.3);
}

.imgbox:active {
	opacity: 0.8;
}

.boxdesc {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	height: 40%;
	width: 100%;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transform: translateY(175%);
	transition: transform 0.2s;
}

.imgbox:hover > .boxdesc {
	transform: translateY(80%);
}

#mover {
	position: absolute;
	z-index: 10;
	display: none;
}

#mover > .boxdesc {
	height: 40%;
	transform: translateY(80%);
	transition: height 0.3s, transform 0.3s;
}

#mover > .boxdesc.active {
	height: 100%;
	transform: translateY(0%);
}

#mover > .boxdesc.hiding {
	height: 40%;
	transform: translateY(175%);
}

.hidden {
	display: none;
}

.blogpost > * {
	margin: 1rem 0;
}

#profile > img {
	height: auto;
	width: 16rem;
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 0.8em;
	}
	
	#navbar {
		padding: 0 5%;
		width: 90%;
	}
	
	#wrapper-inner {
		margin: 4rem 0 0 0;
	}
	
	#profile {
		float: none;
		padding: 0;
	}
	
	#profile > img {
		height: auto;
		max-width: 100%;
	}
}

@media screen and (max-width: 24cm) {
	.imgbox {
		width: 8rem;
		height: 8rem;
		flex: 0 0 8rem;
	}
}

@media screen and (max-width: 10cm) {		
	.imgbox {
		width: 6rem;
		height: 6rem;
		flex: 0 0 6rem;
	}
	.imgbox:hover > .boxdesc {
		transform: translateY(175%);
	}
}


/* ANIMATIONS */

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
@-webkit-keyframes fadeInDown {
  from {opacity: 0;-webkit-transform: translate3d(0, -3rem, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
}

@keyframes fadeInDown {
  from {opacity: 0;transform: translate3d(0, -3rem, 0);}
  to {opacity: 1;transform: translate3d(0, 0, 0);}
}

@-webkit-keyframes fadeInUp {
  from {opacity: 0;-webkit-transform: translate3d(0, 3rem, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
}

@keyframes fadeInUp {
  from {opacity: 0;transform: translate3d(0, 3rem, 0);}
  to {opacity: 1;transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes fadeOutUp {
  from {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
  to {opacity: 0;-webkit-transform: translate3d(0, -3rem, 0);}
}

@keyframes fadeOutUp {
  from {opacity: 1;transform: translate3d(0, 0, 0);}
  to {opacity: 0;transform: translate3d(0, -3rem, 0);}
}
@-webkit-keyframes fadeOutLeft {
  from {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
  to {opacity: 0;-webkit-transform: translate3d(-3rem, 0, 0);}
}

@keyframes fadeOutLeft {
  from {opacity: 1;transform: translate3d(0, 0, 0);}
  to {opacity: 0;transform: translate3d(-3rem, 0, 0);}
}

@-webkit-keyframes fadeInLeft {
  from {opacity: 0;-webkit-transform: translate3d(-3rem, 0, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
}

@keyframes fadeInLeft {
  from {opacity: 0;transform: translate3d(-3rem, 0, 0);}
  to {opacity: 1;transform: translate3d(0, 0, 0);}
}

@-webkit-keyframes fadeOutRight {
  from {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
  to {opacity: 0;-webkit-transform: translate3d(3rem, 0, 0);}
}

@keyframes fadeOutRight {
  from {opacity: 1;transform: translate3d(0, 0, 0);}
  to {opacity: 0;transform: translate3d(3rem, 0, 0);}
}

@-webkit-keyframes fadeInRight {
  from {opacity: 0;-webkit-transform: translate3d(3rem, 0, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
}

@keyframes fadeInRight {
  from {opacity: 0;transform: translate3d(3rem, 0, 0);}
  to {opacity: 1;transform: translate3d(0, 0, 0);}
}